{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <h1>История торгов за 3 месяца</h1>
    {% if TradeHistory.0.stock.inner_history.exists %}
        <h3>
            <a href="{% url 'trade-history-insiders' stock=TradeHistory.0.stock %}">Внутренние торги</a>
        </h3>
     {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Дата</th>
            <th>Цена открытия</th>
            <th>Цена закрытия</th>
            <th>Цена минимальная</th>
            <th>Цена последняя</th>
            <th>Объем торгов</th>
        </tr>
        </thead>
        <tbody>
        {% for trade in TradeHistory %}
            <tr>
                <td>{{ trade.stock.name|upper }}</td>
                <td>{{ trade.trade_date|date:'d/m/Y' }}</td>
                <td>{{ trade.open_price }}</td>
                <td>{{ trade.high_price }}</td>
                <td>{{ trade.low_price }}</td>
                <td>{{ trade.last_price }}</td>
                <td>$ {{ trade.volume|intcomma }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}