{% extends 'base.html' %}

{% block content %}
    <h1>Доступные акции</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Внутренняя ссылка</th>
            <th>Аналитика</th>
            <th>Дельта цен</th>
            <th>Источник</th>
        </tr>
        </thead>
        <tbody>
        {% for stock in Stocks %}
            <tr>
                <td>{{ stock.name|upper }}</td>
                <td>
                    <a href="{% url 'trade-history' stock=stock.name %}">История за 3 месяца</a>
                </td>
                <td>
                    <a href="{% url 'trade-history-analytics' stock=stock.name %}">Аналитика по датам</a>
                </td>
                <td>
                    <a href="{% url 'trade-history-delta' stock=stock.name %}">Дельта цен</a>
                </td>
                <td>
                    <a href="https://www.nasdaq.com/symbol/{{ stock.name|lower }}/historical">Открыть</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}