{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <h1>История внутренних торгов</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Сотрудник</th>
            <th>Дата</th>
            <th>Тип операции</th>
            <th>Торгуемых акций</th>
            <th>Цена закрытия</th>
            <th>Оставшиеся акции</th>
        </tr>
        </thead>
        <tbody>
        {% for trade in InnerTrade %}
            <tr>
                <td>
                    <a href="{% url 'employee-trade-history' stock=trade.stock employee=trade.insider.slug_name %}">
                        {{ trade.insider.full_name }}
                    </a>
                </td>
                <td>{{ trade.trade_date|date:'d/m/Y' }}</td>
                <td>{{ trade.transaction_type.name }}</td>
                <td>{{ trade.shares_traded|intcomma }}</td>
                <td>{{ trade.last_price }}</td>
                <td>{{ trade.shares_held|intcomma }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}