{% extends 'base.html' %}
{% load humanize static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'plugins/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' %}">
{% endblock %}

{% block content %}

    {% if request.GET.date_from and  request.GET.date_to %}
       <h1>Разница цен с {{ request.GET.date_from }} до {{ request.GET.date_to }}</h1>
    {% else %}
        <h1>Разница цен по всем датам</h1>
    {% endif %}

    <form action="">

        <label for="date_from">Показать результаты с:</label>
        <input data-provide="datepicker" class="datepicker"
               data-date-format="dd/mm/yyyy" type="date"
               id="date_from" name="date_from" value="{{ request.GET.date_from|escape }}">

        <label for="date_to">по:</label>
        <input data-provide="datepicker" class="datepicker"
               data-date-format="dd/mm/yyyy" type="date"
               id="date_to" name="date_to" value="{{ request.GET.date_to|escape }}">

        <button type="submit">
            Выбрать
        </button>
    </form>

    <a href=""></a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Дата</th>
            <th>Разница открытия/закрытия</th>
            <th>Разница максимальной/минимальной</th>
            <th>Объем торгов</th>
        </tr>
        </thead>
        <tbody>
        {% for trade in TradeHistory %}
            <tr>
                <td>{{ trade.stock.name|upper }}</td>
                <td>{{ trade.trade_date|date:'d/m/Y' }}</td>
                <td>
                    {{ trade.last_price }} - {{ trade.open_price }} =
                    <span
                            {% if trade.delta_close_open > 0 %}
                                class="text-success"
                            {% else %}
                                class="text-danger"
                            {% endif %}
                    >
                        $ {{ trade.delta_close_open }}
                    </span>
                </td>
                <td>
                    {{ trade.high_price }} - {{ trade.low_price }} =
                    <span
                            {% if trade.delta_high_low > 0 %}
                                class="text-success"
                            {% else %}
                                class="text-danger"
                            {% endif %}
                    >
                        $ {{ trade.delta_high_low }}
                    </span>
                </td>
                <td>$ {{ trade.volume|intcomma }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %} %}

{% block javascript %}
    <script src="{% static 'plugins/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}">
    </script>
{% endblock %}
