{% extends 'base.html' %}

{% block content %}
    <h1>Дельта цен</h1>
    <form action="">

        <label for="type">Цена </label>

        <select name="type" id="type">
            {% for value in sort_values %}
                <option
                    value="{{ value }}"
                    {% if request.GET.type|lower == value %}selected="selected"{% endif %}
                >
                    {{ value }}
                </option>
            {% endfor %}
        </select>

        <label for="value"> изменилась более чем на</label>
        <input type="text" name="value" value="{{ request.GET.value }}" id="value">

        <button type="submit">Найти</button>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Акция</th>
            <th>Дата начала</th>
            <th>Дата конца</th>
            <th>Изменение цены</th>
        </tr>
        </thead>
        <tbody>
        {% for history in TradeHistory %}
            <tr>
                <td>
                    {{ history.obj_from.stock.name|upper  }}
                </td>
                <td>
                    {{ history.obj_from.trade_date|date:'d/m/Y' }}
                </td>
                <td>
                    {{ history.obj_to.trade_date|date:'d/m/Y' }}
                </td>
                <td>
                    {{ history.price_change }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
